.form {
  width: 30%;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgba(248, 248, 248, 0.066);
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .form {
    width: 70%;
  }
}
