.aside {
  background-color: white;
  width: 300px;
  height: 100vh;
  padding: 10px;
  position: relative;
}
.menu-item {
  background-color: gray;
  padding: 20px;
  color: white;
  margin-block: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}

.menu-item.active {
  background-color: var(--primary-bg);
}
.menu-item:active {
  background-color: var(--primary-bg);
}
.menu-item:hover {
  opacity: 0.7;
}

.log-out-btn{
  position: absolute;
  /* margin: 10px !important; */

  bottom: 10px;
  right: 0;
  left: 50%;
  transform: translate(-50%);
  width: 90% !important;
  /* margin-top: 50%; */
  background-color: rgba(255, 0, 0, 0.756);
}

@media only screen and (max-width: 600px) {
  .main {
    flex-wrap: wrap;
  }
  .aside,
  .panel {
    width: 100% !important;
  }
}
